:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.nav-logo {
    font-size: 24px;
    color: var(--text-color);
}

.nav-logo i {
    color: var(--accent-color);
}

.nav-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-menu li  {
    padding: 8px 12px;
}

.nav-menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

.nav-sns {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.nav-sns li {
    padding: 8px 12px;
}

.nav-sns i:hover {
    color: var(--accent-color);
}

.nav-toggle-btn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .menu-item {
        width: 100%;
        align-items: center;
    }
    .nav-sns {
        display: none;
        justify-content: center;
        width: 100%;
    }
    
    .nav-toggle-btn {
        display: block;
    }
    
    .nav-menu.active, 
    .nav-sns.active {
        display: flex;
    }
}
