:root {
    --text-color: white;
    --background-color: navy;
    --accent-color: Yellow;
}

body {
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 15px;
}

.nav-logo {
    font-size: 24px;
}

.nav-logo i {
    color: var(--accent-color)
}

.nav-menu, 
.nav-icons {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.nav-menu li, 
.nav-icons li {
    padding: 8px 12px;
}

.nav-menu li:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
}

.nav-icons i:hover {
    color: var(--accent-color);
}

#toggle-btn {
    display: none;
    position: absolute;
    top: 12px;
    right: 25px;
}
@media screen and (max-width: 786px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-icons {
        display: none;
        margin: 0 auto;
    }
    #toggle-btn {
        display: block;
    }
    .active {
        display: flex;
    }
}