* {
    box-sizing: border-box;
    font-family: 'Gamja Flower', serif;
}

body {
    background: #92add2;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}

#todo-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(190,137,226);
    background: linear-gradient(295deg, rgba(190,137,226,1) 0%, rgba(224,134,134,1) 50%, rgba(237,193,131,1) 100%);
    width: 400px;
    height: 680px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.todo-list__header {
    position: relative;
    flex-basis: 10%;
}

.header__title {
    text-align: center;
    font-family: Pacifico, serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 5px;
    color: white;
}

.header__deleteAll {
    position: absolute;
    right: 36px;
    top: 0;
    bottom: 0px;
    margin: auto;
    font-size: 18px;
    width: 24px;
    height: 24px;
    color: white;
    transition: transform .3s ease;
}

.header__deleteAll:hover {
    transform: scale(1.2);
}

.todo-list__main {
    background-color: #ededed;
    flex-basis: 80%;
    overflow-y: auto;
    box-shadow: inset 0 1px 10px #00000020;
}

.main__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
    align-items: center;
}

.main__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #66666616;
}

.item__check {
    display: block;
    position: relative;
    padding: 8px 0;
    padding-left: 28px;
    cursor: pointer;
    flex-basis: 90%;
    height: ;
}

.checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    width: 9px;
    height: 16px;
    transform: rotate(45deg);
    border: solid #ff0000dd;
    border-width: 0 3px 3px 0;
    opacity: 0;
}

.item__check:hover .checkbox:not(:checked) ~ .checkmark {
    border-color: #333333;
    opacity: 0.2;
}

.checkbox:checked ~ .checkmark {
    opacity: 1;
}

.check__desc {
    position: relative;
    user-select: none;
    font-size: 20px;
}

.check__desc:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    right: 100%;
    background-color: red;
    height: 2px;
    opacity: 0;
    transition: .3s linear;
}

.checkbox:checked ~ .check__desc:after{
    opacity: 0.9;
    right: -5px;
}

.checkbox:checked ~ .check__desc {
    color: grey;
}

.item__delete {
    font-size: 18px;
    width: 20px;
    height: 20px;
    transition: transform .3s ease;
}

.item__delete:hover {
    transform: scale(1.2);
}

#input-text {
    width: 100%;
    line-height: 36px;
    font-size: 24px;
    text-indent: 12px;
}

.todo__list__footer {
    flex-basis: 15%;
    text-align: center;
}

.footer__plus {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    margin-top: 5px;
}