/* Global */
:root {
    /* Color */
    --color-white: #FFFFFF;
    --color-black: #232323;
    --color-blue: #045fd4;
    --color-red: #FF0000;
    --color-grey-dark: #E0E0E0;
    --color-grey-light: #909090;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;
    
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--color-black);
    color: var(--color-white);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--color-red);
    vertical-align: middle;
    position: relative;
    z-index: 0;
}

header .logo i:after{
    content: ' ';
    display: block;
    background-color: var(--color-white);
    width: 0.4em;
    height: 0.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

header .icons .fa-search{
    margin-right: var(--padding);
}

/* Video Player */
#player {
    position: sticky;
    top: 0;
}

#player video{
    width: 100%;
    height: 100%;
    max-height: 720px;
    background-color: black;
}

