/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;
    --weight-thin: 300;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

:lang(ko) {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin: 16px 0px;
    color: inherit;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin: 8px 0;
    color: inherit;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin: 8px 0;
    color: inherit;
}

p {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    margin: 4px 0;
    color: inherit;
    word-break: keep-all;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 0 36px;
    transition: all var(--animation-duration) ease;
    z-index: 2;
    overflow: hidden;
}

#navbar.navbar--dark {
    background-color: var(--color-pink);
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

.menu__item--active {
    border: 1px solid var(--color-white);
}

.menu__item:hover {
    background-color: var(--color-dark-pink);
}

.navbar__toggleBtn {
    position: absolute;
    top: 20px;
    right: 32px;
    font-size: 24px;
    display: none;
    text-align: center;
}

/* Home */
#home {
    background: url(imgs/home-background.png) center/cover no-repeat;
    padding: 120px 40px 100px;
    text-align: center;
    color: var(--color-white);
}

.home__avartar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__contactBtn {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

.home__contactBtn:hover {
    background-color: var(--color-pink);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    color: var(--color-dark-grey);
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    margin: auto;
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
    color: var(--color-pink);
    transform: rotate(-360deg) scale(1.2);
}

.major__desc {
    font-size: var(--font-small);
}

.career {
    display: flex;
    align-items: center;
}

.career__logo {
    width: 120px;
}

.career__desc {
    margin: 0 16px;
    text-align: left;
    color: var(--color-light-grey);
}

.career__name {
    font-size: var(--font-small);
}

.career__period {
    font-size: var(--font-micro);
}

/* Skills */
#skills {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.skillset__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
}

.skill{
    margin-bottom: 8px;
}

.skill__info {
    display: flex;
    justify-content: space-between;
}


.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.skill:nth-child(1) .skill__value {
    width: 90%;
}

.skill:nth-child(2) .skill__value {
    width: 90%;
}

.skill:nth-child(3) .skill__value {
    width: 80%;
}

.skill:nth-child(4) .skill__value {
    width: 70%;
}

.skill:nth-child(5) .skill__value {
    width: 20%;
}

.skill:nth-child(6) .skill__value {
    width: 10%;
}

.skill:nth-child(7) .skill__value {
    width: 10%;
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-grey);
}

.tools,
.etc {
    padding: 20px;
}

/* Work */
.work__categories {
    margin: 40px;
}

.categoryBtn {
    position: relative;
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    margin-bottom: 4px;
}

.categoryBtn--active,
.categoryBtn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.categoryBtn__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 10%;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.categoryBtn--active .categoryBtn__count,
.categoryBtn:hover .categoryBtn__count {
    box-shadow: 2px 2px 4px #55555570;
    top: 5px;
    opacity: 1;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-white);
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}

.work__projects--anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project--invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__info {
    position: absolute;
    background-color: #000000cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__info {
    opacity: 1;
    transform: translateY(0);
}

.project__title {
    color: var(--color-orange);
}

.project__title:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--color-dark-white);
    margin-top: 8px;
    opacity: 0.6;
}

/* Testimonial */
#testimonials {
    background-color: var(--color-light-white);
}

.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;
}

.testimonial:nth-child(even) {
    flex-direction: row-reverse;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial:nth-child(odd) .testimonial__avatar {
    margin-right: 40px;
}

.testimonial:nth-child(even) .testimonial__avatar {
    margin-left: 40px;
}

.testimonial__speech-bubble {
    width: 100%;
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.speech-bubble__name {
    color: var(--color-light-grey);
}

.speech-bubble__link {
    color: var(--color-pink);
}

/* Contact */
#contact {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact__icon {
    margin: 10px;
    transition: all var(--animation-duration) ease;
}

.contact__icon:hover  {
    transform: scale(1.1);
}

.contact__icon--RP {
    width: var(--font-large);
    margin: -7px;
}

/* ArrowBtn */
.arrowBtn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all var(--animation-duration) ease-in;
}

.arrowBtn--visible {
    opacity: 1;
    pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    /* Global setting */
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }
    
    /* Navbar */
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu__item {
        width: 100%;
        text-align: center;
    }

    .navbar__toggleBtn {
        display: block;
        font-size: 16px;
    }

    /* Home */
    #home {
        padding: 110px 40px 50px;
    }

    .home__avartar {
        width: 200px;
        height: 200px;
    }

    .home__title {
        margin-top: 30px;
    }

    .home__contactBtn {
        margin-top: 50px;
    }

    /* Section container */
    .section {
        padding: 50px 28px;
    }

    /* About */
    .about__majors {
        flex-direction: column;
        align-items: center;
        margin: 30px 0 0 0;
    }

    .major {
        margin-bottom: 30px;
    }

    .major__icon {
        width: 120px;
        height: 120px;
        font-size: 50px;
        line-height: 120px;
    }

    /* Skills */
    .skillset {
        flex-direction: column;
    }

    .skillset__title {
        font-size: var(--font-medium);
        margin: 24px 0;
    }

    .skill {
        margin-bottom: 24px;
    }

    .tools__item,
    .etc__item {
        margin-bottom: 8px;
    }

    /* Work */
    .work__categories {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .categoryBtn {
        padding: 8px;
    }

    .categoryBtn__count {
        right: 5%;
    }

    .project {
        flex-grow: 1;
    }

    .project__title {
        font-size: var(--font-medium);
    }

    /* testimonials */
    .testimonials {
        margin: 0;
    }

    .testimonial {
        flex-direction: column;
        align-items: center;
    }

    .testimonial:nth-child(even) {
        flex-direction: column;
    }

    .testimonial:nth-child(odd) .testimonial__avatar {
        margin-right: 0;
    }
    
    .testimonial:nth-child(even) .testimonial__avatar {
        margin-left: 0;
    }
    
    .testimonial .testimonial__avatar {
        width: 80px;
        height: 80px;
        margin-bottom: -15px;
        z-index: 1;
    }

    /* Contact */
    .contact__email {
        font-size: var(--font-regular);
    }

    /* ArrowBtn */
    .arrowBtn {
        right: 16px;
        bottom: 16px;
        font-size: 30px;
    }
}