:root {
    /* Color */
    --color-white: #fff;
    --color-light-white: #eee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Border-radius */
    --border-radius: 4px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
ul{
    list-style-type: none;
    color: var(--color-white);
}
.section__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
button {
    cursor: pointer;
    outline: none;
    border-radius: var(--border-radius);
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-pink);
    padding: 14px;
    color: var(--color-white)
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu {
    display: flex;
}

.menu__items {
    font-size: var(--font-small);
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 8px;
    cursor: pointer;
}

.menu__items.active {
    border: 1px solid var(--color-white);
}

.menu__items:hover {
    background-color: var(--color-dark-pink);
}

/* Home */
#home {
    background-image: url(imgs/home-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0;
}

.profile {
    width: 240px;
    height: 240px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile img {
    height: 110%;
    margin-left: -20%;
    margin-top: -10%;
}

#home h1,
#home p,
#home .home__btn {
    color: var(--color-white);
}

#home h1 {
    font-size: var(--font-large);
}

#home p {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.home__btn {
    background-color: transparent;
    border: 1px solid var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    padding: 8px 12px;
    margin: 24px;
}

.home__btn:hover {
    background-color: var(--color-dark-pink);
}

