:root {
    /* Color */
    --color-white: #fff;
    --color-light-white: #eee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Border-radius */
    --border-radius: 4px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
ul{
    list-style-type: none;
    color: var(--color-white);
}
button {
    cursor: pointer;
    outline: none;
    border-radius: var(--border-radius);
    background-color: transparent;
}
.section__container {
    max-width: 1200px;
    margin: auto;
}
.section {
    padding: 50px;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-pink);
    padding: 14px;
    color: var(--color-white)
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu {
    display: flex;
}

.menu__items {
    font-size: var(--font-small);
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 8px;
    cursor: pointer;
}

.menu__items.active {
    border: 1px solid var(--color-white);
}

.menu__items:hover {
    background-color: var(--color-dark-pink);
}

.navbar__menu-hamburger {
    display: none;
    font-size: var(--font-medium);
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

/* Home */
#home {
    background-image: url(imgs/home-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.profile {
    width: 240px;
    height: 240px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.profile img {
    height: 110%;
    margin-left: -20%;
    margin-top: -10%;
}

#home h1,
#home p,
#home .home__btn {
    color: var(--color-white);
}

#home h1 {
    font-size: var(--font-large);
}

#home p {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.home__btn {
    border: 2px solid var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    padding: 8px 12px;
    margin: 24px;
}

.home__btn:hover {
    background-color: var(--color-dark-pink);
}

/* About */
.about__majors {
    display: flex;
    justify-content: space-between;
}

.major {
    width: 100%;
    margin: 60px 0;
}

.major__icon {
    width: 160px;
    height: 160px;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin: 20px auto;
}

.major__icon i{
    font-size: 70px;
    line-height: 160px;
    color: var(--color-blue);
    transition: 300ms ease-out;
}

.major__icon:hover i {
    color: var(--color-pink);
    transform: scale(1.1) rotate(-30deg);
}

.major__title,
.major__description {
    color: var(--color-dark-grey);
}

.major__description {
    font-size: var(--font-small);
}

.career {
    display: flex;
    align-items: center;
}

.career img {
    width: 80px;
    height: 100%;
}

.career__description {
    text-align: left;
    padding-left: 16px;
}

.career__title,
.career__detail {
    font-size: var(--font-small);
    color: var(--color-light-grey);
}

.career__detail {
    font-size: var(--font-micro);
}

/* Skills */
#skills {
    background-color: var(--color-yellow);
    color: var(--color-white);
}

.skillset {
    display: flex;
    margin: 20px 0;
}

.skillset h3 {
    color: var(--color-white)
}

.skillset__left {
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
    flex-basis: 60%;
}

.skillset__right {
    flex-basis: 40%;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 3px;
    margin-bottom: 32px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right {
    background-color: var(--color-light-grey);
}

.skillset__right ul {
    padding-left: 0;
}

.tools,
.etc {
    padding: 20px;
}

.tools {
    background-color: var(--color-grey);
}

/* Work */
.work__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--border-radius);
    padding: 8px 48px;
    font-size: var(--font-regular);
    cursor: pointer;
    margin-bottom: 4px;
}
.category__count {
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: 50%;
    padding: 3px 8px;
    margin-left: 5px;
    vertical-align: bottom;
    position: relative;
    top: -20px;
    opacity: 0;
    transition: 300ms ease-in;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white)
}

.category__btn:hover .category__count,
.category__btn.active .category__count {
    top: 0;
    opacity: 1;
}
.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-white);
    width: 300px;
    height: 300px;
    margin: 2px;
    cursor: pointer;
}

.project img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
    width: 100%;
    height: 100%;
    padding: 20px;
    opacity: 0;
    transform: translateY(10px);
    transition: 300ms ease-in;
}

.project__description h3 {
    color: var(--color-white);
}

.project__description h3:after {
    content: ' ';
    display: block;
    background-color: var(--color-white);
    width: 25px;
    height: 1px;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 10px;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0);
}

/* Testimonial */
#testimonials {
    background-color: var(--color-light-white);
}

.testimonial {
    display: flex;
    margin: 36px;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial__speech-bubble {
    background-color: var(--color-white);
    padding: 26px;
    position: relative;
}

.testimonial.left .testimonial__speech-bubble:after {
    content: ' ';
    position: absolute;
    top: 30px;
    left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--color-white) transparent transparent;
}

.testimonial.right .testimonial__speech-bubble:after {
    content: ' ';
    position: absolute;
    top: 30px;
    right: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--color-white);
}

.testimonial.left .testimonial__avatar {
    margin-right: 36px;
}

.testimonial.right .testimonial__avatar {
    margin-left: 36px;
}

.testimonial__speech-bubble p,
.testimonial__speech-bubble a {
    color: var(--color-light-grey);
    font-size: var(--font-regular);
}

.testimonial__speech-bubble a span {
    color: var(--color-dark-pink);
}

/* Contact */
#contact {
    background-color: var(--color-pink);
}

#contact h1,
#contact p,
.contact__mail{
    color: var(--color-white);
}

.contact__item {
    display: inline-block;
    font-size: var(--font-large);
    color: var(--color-light-white);
    margin: 20px 0;
    
}

.contact__item:hover i{
    color: var(--color-white);
    transform: scale(1.2);
    transition: 200ms ease-in;
}

#contact p {
    font-size: var(--font-small);
}

@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar__menu {
        display: none;
    }
    .navbar__menu-hamburger {
        display: block;
    }
    /* About */
    .about__majors {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 98px;
    }
    .major {
        margin: 10px 0;
    }
    /* Skills */
    .skillset {
        flex-direction: column;
        margin-top: 68px;
    }
    /* Work */
    #work {
        padding-bottom: 98px;
    }
    /* Testimonial */
    .testimonial__avatar {
        width: 80px;
        height: 80px;
    }
}