* {
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body {
  margin: 0;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

#game {
  background: url(./img/background.png) center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Title screen */
.game__title-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #23090190;
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
}

.game__title-screen--visible {
  visibility: visible;
}

.title-screen__box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.title-screen__title {
  color: #e8c468;
  font-size: 10rem;
  line-height: 0.7em;
  text-shadow: 8px 3px #2a2c41;
  margin-top: 0;
  margin-bottom: 0.6em;
  user-select: none;
}

.title-screen__title span {
  display: block;
  color: #e76e50;
  font-size: 0.8em;
}

.title-screen__start {
  position: relative;
  font-size: 3rem;
  user-select: none;
}

.title-screen__start:after {
  position: absolute;
  top: 0.5em;
  left: -0.6em;
  content: "";
  display: block;
  width: 0.2em;
  height: 0.2em;
  border: solid #e76e50;
  border-width: 0.2em 0.2em 0 0;
  transform: rotate(45deg);
  cursor: auto;
  visibility: hidden;
}

.title-screen__start:hover:after {
  visibility: visible;
}

/* Game header */
.game__header {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 10vh 0;
  text-align: center;
}

.header__play {
  width: 2em;
  height: 2em;
  background-color: #fff1d1;
  border-radius: 0.3em;
  font-size: 0.8em;
  border: 4px solid #230901;
  transition: transform 0.3s ease-out;
}

.header__play:hover {
  transform: scale(1.1);
}

.header__timer {
  width: 4em;
  background-color: #fafffc;
  border: 4px solid #230901;
  border-radius: 0.3em;
}

.header__count {
  width: 1.3em;
  height: 1.3em;
  line-height: 1.2em;
  background-color: #ff928a;
  color: #fafffc;
  border: 3px solid #230901;
  border-radius: 50%;
}

/* Game field */
.game__field {
  flex-basis: 50%;
  position: relative;
}

.carrot {
  position: absolute;
  background: url(img/carrot.png) center/cover no-repeat;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.bug {
  position: absolute;
  background: url(img/bug.png) center/cover no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
