* {
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body {
  margin: 0;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

#game {
  background: url(./img/background.png) center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
}

/* Title screen */
.game__title-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #23090190;
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: visible;
  z-index: 1;
}

.game__title-screen--hide {
  visibility: hidden;
}

.title-screen__box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.title-screen__title {
  color: #e8c468;
  font-size: 10rem;
  line-height: 0.7em;
  text-shadow: 8px 3px #2a2c41;
  margin-top: 0;
  margin-bottom: 0.6em;
  user-select: none;
  cursor: default;
}

.title-screen__title span {
  display: block;
  color: #e76e50;
  font-size: 0.8em;
}

.title-screen__start {
  position: relative;
  font-size: 3rem;
  user-select: none;
}

.title-screen__start:after {
  position: absolute;
  top: 0.5em;
  left: -0.6em;
  content: "";
  display: block;
  width: 0.2em;
  height: 0.2em;
  border: solid #e76e50;
  border-width: 0.2em 0.2em 0 0;
  transform: rotate(45deg);
  cursor: auto;
  visibility: hidden;
}

.title-screen__start:hover:after {
  visibility: visible;
}

/* Game header */
.game__header {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  padding-top: 1em;
  text-align: center;
  visibility: hidden;
}

.game__header.visible {
  visibility: visible;
}

.header__stop {
  width: 2em;
  height: 2em;
  background-color: #fff1d1;
  border-radius: 0.3em;
  font-size: 0.8em;
  border: 4px solid #230901;
  transition: transform 0.3s ease-out;
  margin-bottom: 0.3em;
}

.header__stop:hover {
  transform: scale(1.1);
}

.header__stop.hide {
  visibility: hidden;
}

.header__timer {
  width: 4em;
  background-color: #fafffc;
  border: 4px solid #230901;
  border-radius: 0.3em;
  margin-bottom: 0.2em;
  cursor: default;
}

.header__count {
  width: 1.3em;
  height: 1.3em;
  line-height: 1.2em;
  background-color: #ff928a;
  color: #fafffc;
  border: 3px solid #230901;
  border-radius: 50%;
  cursor: default;
}

/* Game field */
.game__field {
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  position: relative;
}

.carrot {
  position: absolute;
  background: url(img/carrot.png) center/cover no-repeat;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.bug {
  position: absolute;
  background: url(img/bug.png) center/cover no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* Pop Up */
.game__pop-up {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  visibility: hidden;
}

.game__pop-up.visible {
  visibility: visible;
}

.pop-up__box {
  width: 9em;
  height: 5em;
  text-align: center;
  font-size: 3rem;
  background: #23090190;
  border-radius: 0.4em;
  padding: 1em 0;
  margin: auto;
  transform: translateY(160%);
}

.pop-up__replay {
  width: 2em;
  height: 2em;
  background-color: #fff1d1;
  border-radius: 0.3em;
  font-size: 0.8em;
  border: 4px solid #230901;
  transition: transform 0.3s ease-out;
}

.pop-up__replay:hover {
  transform: scale(1.1);
}

.pop-up__message {
  display: block;
  color: #fff1d1;
  cursor: default;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 10px;
  }

  .game__header {
    padding: 3vh 0;
  }

  .carrot {
    width: 70px;
    height: 70px;
  }

  .bug {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 320px) {
  .carrot {
    width: 60px;
    height: 60px;
  }

  .bug {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .carrot {
    width: 100px;
    height: 100px;
  }

  .bug {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1300px) {
  :root {
    font-size: 18px;
  }
  .carrot {
    width: 120px;
    height: 120px;
  }

  .bug {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-height: 600px) and (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  .pop-up__box {
    bottom: 5em;
  }
}

@media screen and (min-height: 1020px) {
  :root {
    font-size: 20px;
  }

  .pop-up__box {
    bottom: 4em;
  }
  .carrot {
    width: 120px;
    height: 120px;
  }

  .bug {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-height: 1300px) {
  :root {
    font-size: 28px;
  }

  .carrot {
    width: 140px;
    height: 140px;
  }

  .bug {
    width: 110px;
    height: 110px;
  }
}